---
import LinksSection from './LinksSection.astro'
import CompareSection from './CompareSection.astro'
import FeaturedSection from './FeaturedSection.astro'

const { items } = Astro.props

const linkSections = items.filter((item) => item.type === 'links')
const compareSection = items.find((item) => item.type === 'compare')
const featuredSection = items.find((item) => item.type === 'featured')
---

<div class="flex flex-col justify-between lg:flex-row lg:gap-20 py-4">
  <div class="flex flex-col justify-between gap-6 lg:flex-row w-full">
    {linkSections.map((section) => <LinksSection section={section} />)}
    {compareSection && <CompareSection section={compareSection} />}
  </div>
  <div class="bg-color-disabled-default hidden w-px lg:block"></div>
  <div class="flex flex-col gap-6">
    {featuredSection && <FeaturedSection section={featuredSection} />}
  </div>
</div>
