---
import { Container } from '@components/layout'
---

<section
  class="hero-section bg-color-surface text-color-default border-color-disabled relative flex border-b pt-10 pb-16 lg:pt-20 lg:pb-30"
  data-theme="light"
>
  <Container class="flex flex-1 items-start">
    <div
      class="flex h-full w-full flex-1 flex-col items-center justify-center text-center"
    >
      <!-- Title & Description -->

      <h1
        class="font-sans-tight mb-4 flex flex-col text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl"
      >
        <span>Simple packages for everyone</span>
      </h1>
      <p class="mb-12 max-w-3xl text-lg font-normal sm:text-xl">
        Working in a team? Solo designer or developer? We’ve got you covered. Choose a subscription to get all collaborative features.
      </p>

    </div>
  </Container>
</section>
