---
import Container from '@components/container.astro'
import WidgetPreview from '@components/WidgetPreview.tsx'
---

<section class="hero-section lg:py-4 bg-color-default-default">
  <Container>
    <!-- <div class="grid items-center gap-12 lg:grid-cols-2"> -->
    <div class="flex flex-col items-start gap-12 lg:flex-row">
      <!-- Left Column - Text & CTA -->
      <div class="order-2 flex-1 pt-16 lg:order-1">
        <h1 class="mb-6 flex flex-col text-4xl font-bold tracking-tight lg:text-6xl">
          <span>All-in-one</span>
          <span>UI ecosystem</span>
        </h1>
        <p class="mb-8 text-lg">A fully integrated UI solution bridging design, development, and strategy. Build, iterate, and optimize UI with enterprise-grade speed and scalability.</p>

        <!-- tech badges -->
        <div class="mb-8 flex flex-row items-center justify-start lg:gap-4 gap-2">
          <div class="flex flex-row items-center lg:gap-3 gap-2">
            <img src="/src/assets/navbar/logos/figma.png" alt="Figma" class="h-5 w-3 object-contain" />
            <p class="text-base">
              <span class="font-normal">Made in </span>
              <span class="font-bold">Figma</span>
            </p>
          </div>

          <div class="bg-color-divider h-4 w-px"></div>

          <div class="flex flex-row items-center lg:gap-3 gap-2">
            <img src="/src/assets/navbar/logos/lit.png" alt="Lit" class="h-6 w-5 object-contain" />
            <p class="text-base">
              <span class="font-normal">Powered by </span>
              <span class="font-bold">Lit</span>
            </p>
          </div>

          <div class="bg-color-divider h-4 w-px"></div>

          <div class="flex flex-row items-center lg:gap-3 gap-2">
            <img src="/src/assets/navbar/logos/react.png" alt="React" class="h-6 w-6 object-contain" />
            <p class="text-base">
              <span class="font-normal">Built for </span>
              <span class="font-bold">React</span>
            </p>
          </div>
        </div>

        <div class="flex gap-4">
          <plus-button kind="outlined">Explore Docs</plus-button>
          <plus-button kind="filled" status="primary">Start for Free <i class="fa-solid fa-arrow-right"></i></plus-button>
        </div>
      </div>

      <!-- Right Column - Component Previews -->
      <div class="order-1 hidden flex-1 pt-4 lg:order-2 lg:block">
        <WidgetPreview className="w-full" client:load />
      </div>
    </div>
  </Container>
</section>
