---
import Container from "@components/container.astro";
---

<section class="proof-section py-6 bg-color-transparent">
  <Container>
    <div class="">
      <img src="/src/assets/proof/logos.png" alt="Proof" class="h-full w-auto object-contain" />
    </div>
  </Container>
</section>
