---
import Container from '@components/common/container.astro'
// import TokenArchitecture from '@components/ui/display/TokenArchitecture.tsx'
---

<section class="specifications-section bg-color-surface text-color-default py-16 lg:py-24" data-theme="dark">
  <Container>
    <div class="mb-25 text-center">
      <plus-chip kind="filled" shape="full" class="mb-5 block">Specifications</plus-chip>

      <h2 class="mb-2.5 text-3xl font-bold lg:text-4xl">Enterprise-Class, Complete UI</h2>
      <p class="text-color-caption mx-auto max-w-2xl text-lg">A robust UI ecosystem built for speed, consistency, <br />and enterprise-grade governance</p>
    </div>

    <div class="flex flex-col gap-7">
      <div class="flex flex-row gap-7">
        <!-- Token Architecture -->
        <!-- <TokenArchitecture client:load /> -->
        <!-- primary: {
          name: 'indigo-600',
          hex: '#4f46e5',
          alias: 'indigo-600',
          semantic: 'background/primary/default',
          bgClass: 'bg-color-primary-default',
          textClass: 'text-color-primary'
        }, -->
        <div class="bg-color-surface border-color-default flex w-full flex-col items-center justify-between rounded-lg border border-solid px-6 pt-9 pb-5">
          <div class="flex flex-col items-center text-center">
            <div class={`mb-5 flex h-14 w-14 items-center justify-center rounded-full transition-all duration-500 ease-in-out bg-indigo-700 text-2xl`}>
              <i class="fa-solid fa-coins text-white"></i>
            </div>
            <h3 class="text-color-default mb-2.5 text-3xl font-semibold">Token Architecture</h3>
            <p class="text-color-caption text-xl">Enhance your UI with our token system using Hex codes, Aliases, and Semantic tokens for scalable UI.</p>
          </div>

          <div class="mt-5 flex w-full flex-col items-center py-6">
            {/* Hex Code */}
            <div class={`bg-color-default-default flex w-fit flex-row items-center gap-2.5 rounded-lg px-6 py-2.5 transition-all duration-500 ease-in-out`}>
              <div class={`h-5 w-5 rounded-full transition-all duration-500 ease-in-out bg-indigo-700`}></div>
              <span class="text-color-default font-mono text-sm">#4f46e5</span>
            </div>

            <div class="bg-color-divider h-6 w-px"></div>

            {/* Color Alias */}
            <div class={`bg-color-default-default flex w-fit flex-row items-center gap-2.5 rounded-lg px-6 py-2.5 transition-all duration-500 ease-in-out`}>
              <div class={`h-5 w-5 rounded-full transition-all duration-500 ease-in-out bg-indigo-700`}></div>
              <span class="text-color-default font-mono text-sm">indigo-600</span>
            </div>

            <div class="bg-color-divider h-6 w-px"></div>

            {/* Semantic Token */}
            <div class={`bg-color-default-default flex w-fit flex-row items-center gap-2.5 rounded-lg px-6 py-2.5 transition-all duration-500 ease-in-out`}>
              <div class={`h-5 w-5 rounded-full transition-all duration-500 ease-in-out bg-indigo-700`}></div>
              <span class="text-color-default font-mono text-sm">background/primary/default</span>
            </div>

            <div class="bg-color-divider h-6 w-px"></div>

            {/* Component Examples */}
            <div class="bg-color-default-default flex w-full flex-row items-center justify-around rounded-lg px-7 py-2.5">
              <plus-button kind="filled" status="primary" size="sm" class="transition-all duration-500 ease-in-out"> Button </plus-button>
              <plus-checkbox status="primary" size="sm" checked class="transition-all duration-500 ease-in-out">Checkbox</plus-checkbox>
              <plus-chip kind="filled" status="primary" size="md" dismiss class="transition-all duration-500 ease-in-out"> Chip </plus-chip>
              <plus-toggle status="primary" size="lg" checked class="w-fit transition-all duration-500 ease-in-out"></plus-toggle>
            </div>
          </div>
        </div>

        <!-- Powerful Integrations -->
        <div class="border-color-default flex w-full flex-col items-center justify-between rounded-lg border border-solid px-6 pt-9 pb-5">
          <div class="flex flex-col items-center text-center">
            <div class="mb-5 flex h-14 w-14 items-center justify-center rounded-full bg-indigo-700 text-2xl"><i class="fa-solid fa-plug"></i></div>
            <h3 class="text-color-default mb-2.5 text-3xl font-semibold">Powerful Integrations</h3>
            <p class="text-color-caption text-xl">Extendable and flexible for integrations with popular tools like FontAwesome and Tailwind CSS.</p>
          </div>
        </div>
      </div>
      <div class="flex">
        <!-- Ready to use themes -->
      </div>
      <div class="flex flex-row gap-7">
        <!-- Accessibility of WCAG 2.11 -->
        <!-- Light & Dark Mode -->
      </div>
    </div>
  </Container>
</section>
