---
import Container from '@components/common/container.astro'
import { Image } from 'astro:assets'
import templatesImg from '@assets/images/illustrations/templates.png'
---

<section class="templates-section bg-color-surface text-color-default py-16 lg:py-24" data-theme="dark">
  <Container>
    <Image
      src={templatesImg}
      alt="Premium design templates and starter kits for Plus UI Library - accelerate your project development"
      loading="lazy"
      format="webp"
      quality={85}
      widths={[600, 800, 1000, 1200]}
      sizes="(max-width: 768px) 600px, (max-width: 1024px) 800px, (max-width: 1280px) 1000px, 1200px"
    />
  </Container>
</section>
