---
import Container from '@components/container.astro'
import templatesImg from '@assets/templates/templates.png'
---

<section class="templates-section bg-color-surface text-color-default py-16 lg:py-24" data-theme="dark">
  <Container>
    <img src={templatesImg.src} alt="Templates"/>
  </Container>
</section>
