---
import StatCard from './StatCard'
import EventCard from './EventCard'
import ProgressCard from './ProgressCard'
---

<div class="relative w-full mb-6">
  {/* Hidden reference layout - determines sizes */}
  <div class="pointer-events-none opacity-0">
    <div class="mb-4 flex w-full flex-col gap-4 sm:flex-row">
      <div class="flex-1">
        <div class="h-[24.5rem] w-full"></div>
      </div>
      <div class="flex-1">
        <div class="h-[24.5rem] w-full"></div>
      </div>
    </div>
    <div class="w-full">
      <div class="h-[25.3125rem] w-full"></div>
    </div>
  </div>
  {/* Animated Widgets */}
  <div class="absolute inset-0 flex flex-col">
    <div class="mb-4 flex w-full flex-col gap-4 sm:flex-row">
      <div class="flex-1">
        <StatCard client:load />
      </div>
      <div class="flex-1">
        <EventCard client:load />
      </div>
    </div>
    <div class="w-full">
      <ProgressCard client:load />
    </div>
  </div>
</div>
