---
import Layout from '@layouts/Layout.astro'
import { Container } from '@components/layout'
---

<Layout title="404 Not Found">
  <Container>
    <div class="flex min-h-[calc(100vh-20rem)] items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="bg-gradient-to-b from-indigo-600 to-indigo-300 bg-clip-text text-6xl font-bold text-transparent lg:text-9xl lg:tracking-tight">404</h1>
        <p class="mt-4 text-lg font-medium text-slate-700 lg:text-2xl">The page you are looking for doesn’t exist.</p>
        <div class="mt-10">
          <plus-button kind="filled" class="group" href="/">
            <div class="flex items-center justify-center gap-2.5">
              <div class="text-gray-950 transition-transform duration-200 group-hover:-translate-x-0.5"><i class="fa-solid fa-arrow-left"></i></div>
              Back to Home
            </div>
          </plus-button>
        </div>
      </div>
    </div>
  </Container>
</Layout>
