---
import Container from "@components/container.astro";
// import Cta from "@components/cta.astro";
// import FeatureAlt from "@components/feature-alt.astro";
// import FeatureGrid from "@components/feature-grid.astro";
// import Features from "@components/features.astro";
// import Footer from "@components/footer.astro";
// import Hero from "@components/hero.astro";
// import Logos from "@components/logos.astro";
// import Testimonials from "@components/testimonials.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout theme="light" headerTheme="light">
  <!-- <Hero />
  <Container>
    <Logos />
    <FeatureAlt />
  </Container>
  <Testimonials />
  <Container>
    <FeatureGrid />
    <Features />
  </Container>
  <Cta /> -->
  <Container>
    <div class="min-h-[calc(100vh-20rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1
          class="text-6xl lg:text-9xl font-bold lg:tracking-tight bg-gradient-to-b from-indigo-600 to-indigo-300 bg-clip-text text-transparent"
        >
          Plus UI Library
        </h1>
      </div>
    </div>
  </Container>
</Layout>
