---
import Container from '@components/container.astro'
import { Icon } from 'astro-icon/components'
import ReadMore from '@components/ReadMore.astro'

const footerColumns = [
  // Column 1
  [
    {
      title: 'Products',
      links: [
        { title: 'Design System', path: '#' },
        { title: 'UI Library', path: '#' },
      ],
    },
    {
      title: 'Documentation',
      links: [
        { title: 'Installation', path: '#' },
        { title: 'Accessibility', path: '#' },
        { title: 'Theming', path: '#' },
        { title: 'Customization', path: '#' },
      ],
    },
    {
      title: 'Frameworks',
      links: [
        { title: 'React', path: '#' },
        { title: 'Next JS', path: '#' },
        { title: 'Angular', path: '#' },
        { title: 'Vue', path: '#' },
        { title: 'Svelte', path: '#' },
        { title: 'Lit', path: '#' },
        { title: 'Astro', path: '#' },
      ],
    },
    {
      title: 'UI Kits',
      links: [
        { title: 'Figma', path: '#' },
        { title: 'Sketch', path: '#' },
        { title: 'Webflow', path: '#' },
        { title: 'Framer', path: '#' },
      ],
    },
  ],
  // Column 2
  [
    {
      title: 'Foundations',
      links: [
        { title: 'Color', path: '#' },
        { title: 'Typography', path: '#' },
        { title: 'Icon', path: '#' },
        { title: 'Border', path: '#' },
        { title: 'Opacity', path: '#' },
        { title: 'Spacing', path: '#' },
        { title: 'Shadow & Effect', path: '#' },
        { title: 'Breakpoint', path: '#' },
      ],
    },
    {
      title: 'Variables (Tokens)',
      links: [
        { title: 'Color Tokens', path: '#' },
        { title: 'Typography Tokens', path: '#' },
        { title: 'Border Tokens', path: '#' },
        { title: 'Opacity Tokens', path: '#' },
        { title: 'Spacing Tokens', path: '#' },
        { title: 'Shadow & Effect Tokens', path: '#' },
        { title: 'Breakpoint Tokens', path: '#' },
      ],
    },
  ],
  // Column 3
  [
    {
      title: 'Components',
      links: [
        { title: 'Accordion', path: '#' },
        { title: 'Alert', path: '#' },
        { title: 'Avatar', path: '#' },
        { title: 'Badge', path: '#' },
        { title: 'Button', path: '#' },
        { title: 'Button Group', path: '#' },
        { title: 'Breadcrumb', path: '#' },
        { title: 'Checkbox', path: '#' },
        { title: 'Chip', path: '#' },
        { title: 'Divider', path: '#' },
        { title: 'Drawer', path: '#' },
        { title: 'Dropdown', path: '#' },
        { title: 'Input', path: '#' },
        { title: 'Link', path: '#' },
        { title: 'Modal', path: '#' },
        { title: 'Popconfirm', path: '#' },
        { title: 'Popover', path: '#' },
        { title: 'Progress', path: '#' },
        { title: 'Radio', path: '#' },
        { title: 'Rating', path: '#', new: true },
        { title: 'Select', path: '#' },
        { title: 'Tabs', path: '#', new: true },
        { title: 'Textarea', path: '#' },
        { title: 'Toast', path: '#' },
        { title: 'Toggle', path: '#' },
        { title: 'Tooltip', path: '#' },
      ],
    },
  ],
  // Column 4
  [
    {
      title: 'Blocks',
      links: [
        { title: 'Header', path: '#' },
        { title: 'CTA sections', path: '#' },
        { title: 'Social Proof', path: '#' },
        { title: 'Services sections', path: '#' },
        { title: 'Feature sections', path: '#' },
        { title: 'Metrics', path: '#' },
        { title: 'Teams sections', path: '#' },
        { title: 'About sections', path: '#' },
        { title: 'Contact sections', path: '#' },
        { title: 'Pricing table', path: '#' },
        { title: 'Articles', path: '#' },
        { title: 'Testimonials', path: '#' },
        { title: 'Blogs', path: '#' },
        { title: 'FAQs', path: '#' },
        { title: 'Subscribe / Newsletter', path: '#' },
        { title: 'Banner', path: '#' },
        { title: 'Cookies', path: '#' },
        { title: 'Legal pages', path: '#' },
        { title: 'Error pages', path: '#' },
        { title: 'Footer', path: '#' },
      ],
    },
    {
      title: 'Templates',
      links: [
        { title: 'Marketing & Sales', path: '#', soon: true },
        { title: 'HR Management', path: '#', soon: true },
      ],
    },
  ],
  // Column 5
  [
    {
      title: 'Company',
      links: [
        { title: 'About Us', path: '#' },
        { title: 'MIT Licence', path: '#' },
        { title: 'Terms & Conditions', path: '#' },
        { title: 'Privacy Policy', path: '#' },
      ],
    },
    {
      title: 'Community',
      links: [
        { title: 'Github', path: '#' },
        { title: 'Figma Community', path: '#' },
        { title: 'Stack Overflow', path: '#' },
        { title: 'Discord', path: '#' },
      ],
    },
    {
      title: 'Contributing',
      links: [
        { title: 'Open Collective', path: '#' },
        { title: 'Patreon', path: '#' },
      ],
    },
    {
      title: 'Support',
      links: [
        { title: 'Feature Request', path: '#' },
        { title: 'Pro Support', path: '#' },
        { title: 'Custom Work', path: '#' },
        { title: 'Blogs', path: '#' },
        { title: 'FAQ', path: '#' },
      ],
    },
  ],
]
---

<footer class="bg-color-surface text-color-default text-base text-pretty" data-theme="dark">
  <Container>
    <div class="py-12">
      <!-- Newsletter -->
      <div class="bg-color-default-default flex flex-col items-center justify-between gap-12 rounded px-8 py-8 md:gap-6 md:px-24 md:py-12 xl:flex-row xl:gap-12">
        <div class="w-full xl:w-3/5">
          <h3 class="text-3xl font-semibold">Join to our newsletter</h3>
          <p class="mt-3">Join to our popular weekly newsletter Plus UI, packed with updates, tips on UX and get the latest news in your inbox.</p>
        </div>
        <form class="flex w-full flex-col gap-1.5 xl:w-2/5">
          <label for="email" class="font-medium">Email address</label>
          <div class="bg-color-surface border-color-default flex items-center rounded border border-solid py-2 pr-2 pl-3 text-nowrap" onclick="document.getElementById('email').focus()">
            <input type="email" id="email" placeholder="name@example.com" class="placeholder:text-color-placeholder text-color-default w-full bg-transparent outline-none" />
            <plus-button size="sm" kind="filled" status="primary">Join now <i class="fa-solid fa-arrow-right"></i></plus-button>
          </div>
        </form>
      </div>
      <!-- SEO Text -->
      <div class="text-color-placeholder mt-16 space-y-4 text-sm">
        <p>&copy; Plus UI {new Date().getFullYear()}</p>
        <p>
          Plus UI offers an integrated Design System and UI Library, featuring a versatile suite of components to elevate your development projects. We streamline the web app development process with
          fully customizable pre-built components, themes, and powerful integrations.
        </p>
        <ReadMore>
          <div class="space-y-4">
            <p>
              Our components are built on a centralized token architecture, ensuring consistency and efficiency across your design system and UI library. The UI Library's framework-agnostic technology
              allows seamless use of components across different frameworks. Optimized for speed, it offers fast loading times, high performance, and quick integration, making it the fastest component
              library for web applications. The token architecture ensures theming consistency, covering essential design aspects like Color, Typography, Icons, Borders, Spacing, Opacity, Shadows &
              Effects, and Breakpoints. Integrations with Tailwind CSS and Font Awesome enhance functionality. Ready-to-use themes include light and dark modes, with full customization to apply your
              branding. Plus UI is also compliant with WCAG 2.1 standards for accessible web design.
            </p>
            <p>
              We have meticulously designed and developed a collection of 26 feature-rich core components, with over 2000 variants and more than 2000 free icons in our Freemium Plan. For more advanced
              needs, our Pro Plan provides access to professionally designed and developed components, blocks, and templates. Our core components include: Accordion, Alert, Avatar, Badge, Button,
              Button Group, Breadcrumb, Checkbox, Chip, Divider, Drawer, Dropdown, Input, Link, Modal, Progress, Popconfirm, Popover, Radio, Rating, Select, Tabs, Textarea, Toast, Toggle, and Tooltip.
              Advanced components feature Charts, Date & Time Pickers, Data Grids, and Tree Views. The Plus UI component library offers a robust and flexible solution for building user interfaces,
              with support for React, Vue.js, Angular, Svelte, Next.js, and other frameworks.
            </p>
            <div>
              <h5>How We Differ from Other Market Providers:</h5>
              <div class="mt-2 space-y-4">
                <p>
                  Plus UI sets itself apart from other UI libraries and design systems. While systems like IBM's Carbon Design System excel in scalability for enterprise use, Plus UI integrates a
                  centralized token system that unifies the design system and UI library, enhancing consistency and efficiency.
                </p>
                <p>
                  Unlike the Atlassian Design System, which focuses on simplicity for enterprise solutions, Plus UI provides a rich set of customizable and accessible components powered by Tailwind
                  CSS and Font Awesome, ensuring a lightweight and flexible design framework.
                </p>
                <p>
                  The Figma Design System is known for its powerful collaboration features. Plus UI complements these by offering a meticulously organized suite of components compatible with Figma,
                  allowing designers to leverage advanced features alongside our extensive library.
                </p>
                <p>
                  For Salesforce developers, the Lightning Design System offers robust tools. Plus UI provides similar robustness but extends its versatility by supporting multiple frameworks like
                  React, Angular, Vue, and Svelte, making it adaptable to a wider range of applications.
                </p>
                <p>
                  The Airbnb Design System emphasizes user-centric principles. Plus UI builds on this with a centralized token system that enhances design coherence, ensuring all components adhere to
                  consistent standards.
                </p>
                <p>
                  Apple’s Design System is celebrated for its sleek aesthetics and high performance. Plus UI matches this standard while providing a vast array of fully customizable and accessible
                  components, including support for dark themes.
                </p>
                <p>
                  Atomic Design focuses on breaking down UIs into smaller, reusable components. Plus UI extends this approach with over 2000 variants and a rich set of properties and tokens, enabling
                  efficient development of complex interfaces.
                </p>
                <p>
                  The IBM Design System is known for its comprehensive guidelines and accessibility. Plus UI offers user-friendly, accessible interfaces with detailed documentation and a component
                  library that boosts productivity and design consistency.
                </p>
                <p>
                  The Salesforce Lightning Design System is optimized for Salesforce applications. Plus UI offers broader integrations, making it suitable for various frameworks beyond Salesforce,
                  providing greater versatility.
                </p>
                <p>
                  Google's Material Design is a cohesive framework for responsive, mobile-first interfaces. Plus UI supports these principles but distinguishes itself with a lightweight package and a
                  powerful combination of Tailwind CSS and Font Awesome for enhanced customization.
                </p>
                <p>
                  The Google Design System pioneered modern design principles. Plus UI builds on these by offering a comprehensive and highly adaptable system that caters to a broader range of needs.
                </p>
                <p>
                  The Uber Design System focuses on accessibility for a global user base. Plus UI shares this focus and expands on it by providing fully customizable components tailored to diverse
                  user needs.
                </p>
                <p>
                  Microsoft's Fluent Design System emphasizes light, depth, and motion. Plus UI incorporates these principles while providing an extensive library of easy-to-use components for a
                  seamless development process.
                </p>
                <p>
                  Finally, the Ant Design System is popular for its robust components in enterprise environments. Plus UI offers similar robustness but stands out with its centralized token system,
                  extensive component library, and multi-framework compatibility, making it ideal for a wide range of applications.
                </p>
                <p>
                  In essence, Plus UI combines the strengths of these renowned design systems while offering unique features like a centralized token system, extensive customization, and
                  framework-agnostic components, setting it apart as a versatile and powerful solution.
                </p>
              </div>
            </div>
          </div>
        </ReadMore>
      </div>
      <!-- Links Grid -->
      <div class="mt-16 grid grid-cols-1 md:grid-cols-3 md:gap-x-8 md:gap-y-8 lg:grid-cols-5">
        {
          footerColumns.map((column) => (
            <div class="space-y-2 px-4 md:space-y-8 md:px-0">
              {column.map((section) => (
                <div class="footer-accordion">
                  <button class="flex w-full cursor-pointer items-center justify-between py-2 md:cursor-default md:py-0">
                    <h4 class="font-semibold text-gray-200">{section.title}</h4>
                    <Icon name="mdi:chevron-down" class="h-5 w-5 transition-transform md:hidden" />
                  </button>
                  <ul class="mt-1 hidden space-y-2 md:mt-4 md:block">
                    {section.links.map((link) => (
                      <li>
                        <a href={link.path} class="flex items-center gap-2 text-gray-400 hover:text-white">
                          {link.title}
                          {link.new && (
                            <plus-chip size="sm" variant="filled" shape="rounded" status="success">
                              New
                            </plus-chip>
                          )}
                          {link.soon && (
                            <plus-chip size="sm" variant="filled" shape="rounded">
                              Soon
                            </plus-chip>
                          )}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col items-center justify-between gap-6 border-t border-gray-800 py-8 md:flex-row md:gap-0">
      <div class="flex items-center gap-2">
        <img src="/src/assets/logo.svg" alt="Plus UI Logo" class="h-6" />
        <span class="text-lg font-bold">Plus UI</span>
      </div>
      <p class="text-sm text-gray-500">
        Copyright &copy; {new Date().getFullYear()} Plus UI Inc. All rights reserved.
      </p>
      <div class="flex items-center gap-4">
        <a href="#" class="text-gray-400 hover:text-white">
          <Icon name="mdi:twitter" class="h-5 w-5" />
        </a>
        <a href="#" class="text-gray-400 hover:text-white">
          <Icon name="mdi:linkedin" class="h-5 w-5" />
        </a>
        <a href="#" class="text-gray-400 hover:text-white">
          <Icon name="mdi:youtube" class="h-5 w-5" />
        </a>
        <a href="#" class="text-gray-400 hover:text-white">
          <Icon name="mdi:instagram" class="h-5 w-5" />
        </a>
      </div>
    </div>
  </Container>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Accordion script
    const accordions = document.querySelectorAll('.footer-accordion')
    const isMobile = () => window.innerWidth < 768

    accordions.forEach((accordion) => {
      const button = accordion.querySelector('button')
      const content = accordion.querySelector('ul')
      const icon = accordion.querySelector('svg')

      if (button && content && icon) {
        button.addEventListener('click', () => {
          if (!isMobile()) return
          const isExpanded = content.classList.contains('block')
          if (!isExpanded) {
            accordions.forEach((otherAccordion) => {
              const otherContent = otherAccordion.querySelector('ul')
              const otherIcon = otherAccordion.querySelector('svg')
              if (otherContent && otherIcon) {
                otherContent.classList.remove('block')
                otherContent.classList.add('hidden')
                otherIcon.classList.remove('rotate-180')
              }
            })
          }
          content.classList.toggle('hidden')
          content.classList.toggle('block')
          icon.classList.toggle('rotate-180')
        })
      }
    })
  })
</script>
